<div class="flex flex-col w-full items-center gap-10" id="articles">
  <%# <div class="rounded border shadow px-2 py-5 sm:px-5 flex flex-col w-full bg-white gap-10"> %>
    <%#= render 'filter_form', { filter_form: filter_form } %>
  <%# </div> %>

  <%= link_to new_article_path, class: "flex lg:hidden text-sm font-bold rounded bg-success px-4 py-2 text-white items-center gap-2" do %>
    <span>Añadir articulo</span>
    <i class="fa-solid fa-plus text-base"></i>
  <% end %>

  <% if articles.any? %>
      <div class="flex flex-wrap w-full gap-10 items-start justify-center">
        <% articles.each do |article| %>
          <%= link_to article_path(article), class: 'flex flex-col py-5 px-2 sm:px-5 w-72 bg-white items-center hover:bg-cyan-50 duration-300 rounded shadow border gap-5' do %>
            <div class="font-regular text-sidebarTextColor text-center">
              Nombre: <br>
              <span class="font-bold"><%= sanitize article.name %></span>
            </div>
            <div class="font-regular text-sidebarTextColor">
              ID del artículo:
              <span class="font-semibold"><%= article.id %></span>
            </div>
            <div class="font-regular text-sidebarTextColor text-center">
              Precio <br>
              <span class="font-bold">$ <%= number_with_delimiter(article.price.round(2), :delimiter => ',') %> USD</span>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% else %>
    <p class="font-semibold text-sm sm:text-base">No hay ningún articulo por el momento.</p>
  <% end %>
</div>
